.StatisticsWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.StatisticsIcon {
  margin-right: 5px;
}

.StatisticsText {
  color: var(--red);
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}